 * { margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}
 header { 
  display: block; 
   background: rgb(147, 58, 58);
  color: rgb(103, 0, 0); 
  padding: 40px; 
  text-align: center;
  font-size: 60px; 
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-image: url("https://st4.depositphotos.com/1008011/25341/i/450/depositphotos_253413022-stock-photo-bali-indonesia-travel-theme-blur.jpg"); 
  background-size: cover;              
  background-position: center;        
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
 
} 
header span { 
  background: rgba(0, 0, 0, 0.6);
  color: rgb(21, 4, 11);
  display: inline; 
  box-sizing: border-box; 
  font-weight: bold;
  font:italic;
  font-family: 'Times New Roman', Times, serif;
text-decoration: underline;
 
}
.navbar { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #640d0d; 
  color: rgb(223, 122, 122); 
  padding: 15px 20px; 
} 
.logo { 
  font-size: 1.5rem; 
  font-weight: bold; 
  align-items: center;
} 
.nav-links { 
  display: flex; 
  list-style: none;
} 
.nav-links li { 
  margin: 0 15px; 
} 
.nav-links a { 
  text-decoration: none; 
  color: rgb(250, 196, 196); 
  font-size: 1rem; 
} 
.actions a { 
  margin-left: 15px; 
  color: #ff8c8c; 
  text-decoration: none; 
  font-weight: bold; 
} 
.hero-section {
  height: 400px;
  margin: 10px;

  background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section h2 {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;

  padding: 20px 40px;
  font-size: 40px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}
.search-section {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 40px 0;
}
.search-section input {
  width: 300px;
  padding: 12px;
  font-size: 16px;

  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-section button {
  padding: 12px 20px;
  font-size: 16px;

  border: none;
  background-color: #00aa6c;
  color: white;
  cursor: pointer;

  border-radius: 0 5px 5px 0;
}
.destinations {
  padding: 40px;
  text-align: center;
}

.destinations h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  width: 280px;

  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0 5px;
}

.card p {
  padding-bottom: 15px;
  color: #555;
}
footer {
  background-color: #004f32;
  color: #ffffff;

  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
.destinations {
  padding: 40px;
  background-color: #f4f4f4;
  text-align: center;
}

.destinations h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.card {
  background-color: #fbf6f6;
  width: 280px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.card:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card h3 {
  margin: 15px 0 5px;
  font-size: 20px;
  color: #004f32;
}

.card p {
  padding: 0 15px 15px;
  font-size: 14px;
  color: #555;
}
 
.container-1 {
  display: flex;
  gap: 40px;
  padding: 50px;
  background: #f9e3e3;
}

.container-1-image img {
  width: 450px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.container-1-content {
  max-width: 450px;
  padding-top: 60px;
}

.sponsored {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.container-1-content h1 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #111;
}

.description {
  font-size: 18px;
  color: #555;
  margin-bottom: 25px;
}

.learn-btn {
  padding: 12px 28px;
  background: #004f32;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.image-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5dab0;
  padding: 80px;
  min-height: 500px;
}
.image-section img {
  width: 40%;
  height: 480px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.empty-space {
  width: 30%;
}

@media (max-width: 768px) { 
  .nav-links { 
    display: none;
  } 
  .actions { 
    font-size: 0.9rem; 
  } 
} 
@media (min-width: 769px) and (max-width: 1024px) { 
  .nav-links a { 
    font-size: 0.9rem; 
  } 
}  
@media (min-width: 1025px) { 
  .nav-links a { 
    font-size: 1rem; 
  } 
}